{% extends 'weblog/base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}  

    <div class="container">
        <div class="card p-3">
            <div class="img" style="display: flex; justify-content: center; align-items: center;">
                <img src="{% static 'weblog/images/ali.jpg' %}" class="card-img-top w-50" alt="...">
            </div> <br>
            <p style="direction: rtl;">
                معرفی فردی: <br>
سلام بنده امیرعلی قلعه نویی هستم  متولد ۱۳۸۳/۷/۲۸ <br>
برنامه‌نویس جنگو در سطح جونیور با تجربه یک ساله در توسعه وب.
 علاقه‌مند به یادگیری و اجرای بهترین شیوه‌ها در کدنویسی و بهینه‌سازی عملکرد وب‌سایت‌ها.<br>
 <br> مهارت‌های قوی در طراحی و پیاده‌سازی اپلیکیشن‌های مبتنی بر وب با استفاده از فریم‌ورک جنگو و پایتون و توانایی کار در تیم و با اشتیاق به همکاری برای حل مسائل پیچیده  با تمایل به ارتقاء مهارت‌های فنی و گسترش دامنه علم خود در دنیای برنامه‌نویسی. <br><br>

مهارت‌ها: <br>
- تسلط بر فریم‌ورک جنگو و پایتون<br>
- تسلط به نوشتن api با جنگو رست فریمورک <br>
- آشنایی با کنترل نسخه با Git <br>
- آشنایی با داکر (مبتدی)<br>
-آشنایی با وب اسکرپینگ <br>
-آشنایی با دیتابیس پستگرس<br> <br>


هدف: <br>
هدف بنده ارتقاء مهارت‌های خود و مشارکت در پروژه‌های چالش‌برانگیز در محیط‌های حرفه‌ای است؛ جایی که بتوانم توانمندی‌های خود را به کار بگیرم و از تجربه همکاران بهره‌برداری کنم.
            </p>
        </div>
    </div>

{% endblock %}