{% extends 'weblog/base.html' %}
{% load static %}

{% block title %} AliGhalenoei {% endblock %}

{% block content %}

  
  <!--=====================HERO======================-->
  {% include 'weblog/includes/hero.html' %}
  <!--=====================BLOG======================-->
  {% include 'weblog/includes/blog.html' %}
  <!--====================ASIDE======================-->
  {% include 'weblog/includes/aside.html' %}
  <!--====================Footer=====================-->
  {% include 'weblog/includes/footer.html' %}

{% endblock %}
