{% load static %}
<div class="hero">
    <div class="container">
      <div class="left">
        <h1 class="h1">Hi, I'm <b>Ali Ghalenoei</b> <br />Web Developer</h1>
        <p class="h3">Specialized in Back End Development</p>

        <div class="btn-group">
          <a href="{% url 'contact' %}" class="btn btn-primary">Contact Me</a>
          <a href="{% url 'abut' %}" class="btn btn-secondary">About Me</a>
        </div>
      </div>

      <div class="right">
        <div class="pattern-bg"></div>
        <div class="img-box">
          <img src="{% static 'weblog/images/ali.jpg'%}" alt="" class="hero-img" style="border-radius: 50%;"/>

          <div class="shape shape-1"></div>
          <div class="shape shape-2"></div>
        </div>
      </div>
    </div>
  </div>
